<component name="libraryTable">
  <library name="springboot-demo-quickstart-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/springboot-demo-quickstart/target/springboot-demo-quickstart-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>